@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&family=Outfit:wght@100..900&family=Urbanist:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #CDDDDD;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #023047;
}

::-webkit-scrollbar {
  width: 0.125rem;
}

::-webkit-scrollbar-track {
  background-color: #023047;
}

::-webkit-scrollbar-thumb {
  width: 0.25rem;
  background-color: #fff;
  border-radius: 2rem;
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination {
  position: unset !important;
  width: auto !important;
  top: unset !important;
  right: unset !important;
  bottom: unset !important;
  left: unset !important;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background-color: #fff !important;
  width: 0.75rem;
  height: 0.75rem;
}

@media screen and (max-width: 767px) {
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    width: 0.5rem;
    height: 0.5rem;
  }
}